.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.img-red {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: red;
    border-radius: 10px;
}

.img-green {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: green;
    border-radius: 10px;
}

.button {
    background-color: black;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font: 12;
}
